<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.bai.server.rediscache.springboot.ywzx.dao.CommonDemoMapper">

    <select id="getData" resultType="hashmap">
        SELECT HY_ID, HY_MC
        FROM common_hy
        WHERE HY_ID = #{id}
    </select>

    <select id="getRedisCacheData" resultType="hashmap">
        SELECT HY_ID, HY_MC
        FROM common_hy
        WHERE HY_ID = #{id}
    </select>

    <update id="updateRedisCacheData" parameterType="string">
        UPDATE common_hy SET HY_MC = '789'
        WHERE HY_ID = #{id}
    </update>
</mapper>

